{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block body %}
    <h1>Home</h1>
    <h3>Welcome</h3>
    <p>View <a href="{% url 'shops:shop' %}">shops</a></p>
    <p>View <a href="{% url 'shops:city' %}">cities</a></p>
    <p><a href="{% url 'shops:shop_forms' %}">Add a shop</a></p>
    <p><a href="{% url 'shops:city_forms' %}">Add a city</a></p>
    <p><a href="{% url 'shops:view_weekly_sales_form' %}">View weekly sales and shop overheads</a></p>
    <p><a href="{% url 'shops:upload_weekly_data' %}">Upload weekly data</a></p>
{% endblock %}